* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: hidden;
}

.form-wrapper {
  margin: 0px auto;
  max-width: 500px;
  width: 100%;
}

textarea {
  resize: none;
}

.table-container {
  margin: 20px auto;
}

img {
  width: 40px;
}

.Navbar {
  margin: 0px auto;
  width: 98.5vw;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
}

.navbar {
  margin: 0px auto;
  max-width: 1440px;
  width: 100%;
}

.divAll {
  margin: 0px auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
}

.menu {
  padding-right: 30px;
  height: 100vh;
  border-right: 2px solid #cdcdcd;
}

.userIcon {
  width: 40px;
}

.jinsi {
  width: 27px;
}

.age {
  width: 30px;
}

.desc {
  width: 22px;
}

b{
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  border-bottom: 1px solid #cdcdcd;
  transition: all 0.2s linear;
}
b:hover{
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);

}



@media screen and (max-width: 600) {
  b{
    display: block;
  }
}